@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  position: relative;
  min-height: 100%;
}

.skint-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

$skint-highlight: hsl(8, 57%, 35%);
$skint-colour-2: #edb579;

.skint-colour-1 {
  background-color: $skint-highlight;
}

.skint-colour-2 {
  background-color: #edb579;
}

.skint-colour-2-light {
  background-color: #f6ddc2;
}

.skint-colour-w {
  background-color: #fff;
}

.striped {
  &:nth-child(odd) {
    background-color: #fff;
    .splash {
      order: 1;
    }
  }

  &:nth-child(even) {
    background-color: #f6ddc2;
    .splash {
      order: 13;
    }
  }
}

body:not(.home-body) {
  font-family: "Open Sans", "sans-serif";
}

.skint-header-img {
  width: 100%;
}

.skint-unobtrusive-img {
  padding-left: 0;
  margin-left: 0;
}

.skint-nav {
  border: 0;
  margin-bottom: 0;

  .navbar-brand {
    height: 80px;
  }

  .nav > li {
    @media (min-width: 992px) {
      padding-left: 10px;
      padding-right: 10px;
      > a {
        font-size: larger;
      }
    }
    > a,
    &.active > a {
      font-weight: bold;
    }
    .dropdown-menu {
      a:hover {
        background-color: $skint-colour-2;
      }
    }
  }
}

.resource-row {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

table.resource-table {
  margin-top: 20px;
}

.resource-table {
  a {
    &:hover,
    *:hover {
      cursor: pointer;
    }
  }

  tr:hover {
    background-color: #edb579;

    a {
      color: #000;
    }
  }

  i {
    font-size: x-large;
  }
}

.resource-row:hover {
  background-color: #ff7f2a;
  border: 1px solid #d95d29;
}

@media (min-width: 767px) {
  #resource-filter-input {
    width: 50%;
    display: inline-block;
  }
}

.year-filters .year-filter {
  &.selected {
    background-color: #edb579;
    border-left: 1px solid #edb579;
    border-right: 1px solid #edb579;
  }

  &:hover {
    background-color: #ff7f2a;
  }

  display: inline-block;
  height: 46px;
  width: 60px;
  padding-top: 11px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #000 !important;
}

.booking-placeholder {
  height: 400px;
  padding: 20px;
  border: 1px solid black;
}

.map-placeholder {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 1px solid black;
}

.centre-align {
  text-align: center;
}

.skint-footer {
  font-size: x-small;
  color: #999;
}

.input-group-addon {
  background-color: transparent !important;
}

.carousel {
  margin: auto;
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  margin-bottom: 25px;
}

.header-list > li {
  padding-top: 1rem;
}

.striped {
  h3 {
    margin-top: 20px;
  }
}

.card {
  margin-bottom: 20px;
}

.committee-face {
  height: 250px;
  object-fit: cover;
}

.w100 {
  width: 100%;
}

.skint-button {
  background-color: $skint-highlight !important;
  border-color: $skint-highlight !important;
  color: white !important;
}

.jumbotron {
  text-align: center;
}

#mc-embedded-subscribe {
  background-color: $skint-highlight !important;
}

#mc_embed_signup {
  margin: 0.5rem auto;
}

.button-list {
  padding-left: 0;
  list-style: none;
  li {
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
  }
}
