<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Skint Dance - International Dance and Music Weekend</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body class="skint-colour-2">
	{{> partials/navbar}}

	{{#> hero}}
	{{/hero}}
	<div class="container skint-container skint-colour-w rounded">
		<main>
			<h1 class="text-center">
				{{#> title}}
				{{/title}}
			</h1>
			{{> content }}
		</main>
	</div>
	{{> partials/footer}}
	{{> partials/scripts}}
</body>

</html>