<!-- Begin MailChimp Signup Form -->
<div class="container">
<div id="mc_embed_signup">
<div style="font-weight:bold; text-align: center">Subscribe to our mailing list</div>
<form action="//skintdance.us2.list-manage.com/subscribe/post?u=a8c148ef7fceb7571bb84657c&amp;id=9d72550111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a8c148ef7fceb7571bb84657c_9d72550111" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
</div>
<!--End mc_embed_signup-->