<div class="skint-colour-1 sticky-top">
	<div class="container">
		<div class="navbar navbar-expand-md navbar-dark skint-nav">
			<a href="/"><img class="skint-unobtrusive-img navbar-brand" src="/img/logo.svg" /></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#skint-navbar-collapse"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="skint-navbar-collapse">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/getinvolved">Get Involved</a></li>
					<li class="nav-item"><a class="nav-link" href="/tickets">Tickets</a></li>
					<li class="nav-item"><a class="nav-link" href="/yourvisit">Your Visit</a></li>
					<li class="nav-item"><a class="nav-link" href="/library">Library</a></li>
					<li class="nav-item"><a class="nav-link" href="/constitution">Constitution</a></li>
					<li class="nav-item"><a class="nav-link" href="/contactus">Contact Us</a></li>
					<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/committee">Committee</a>
							<a class="dropdown-item" href="/constitution">Constitution</a>
						</div>
					</li>
					-->
				</ul>
			</div>
		</div>
	</div>
</div>