{{#> defaultLayout}}

{{#*inline "title"}}
The Committee
{{/inline}}

{{#*inline "content"}}
<div class="pb-1">
    <p>These are the people that make Skint happen. They run things according to <a href="/constitution">the
            constitution</a></p>

    <p>Grab them if you have any questions or suggestions</p>

    <div class="row">
        <div class="col-lg-1 d-none d-lg-block"></div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/j2o.jpg" class="card-img-top committee-face" alt="John">
                <div class="card-body">
                    <h5 class="card-title">J2ohn</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/ant.jpg" class="card-img-top committee-face" alt="Ant">
                <div class="card-body">
                    <h5 class="card-title">Ant</h5>
                </div>
            </div>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/rosie.jpg" class="card-img-top committee-face" alt="Rosie">
                <div class="card-body">
                    <h5 class="card-title">Rosie</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/gareth.jpg" class="card-img-top committee-face" alt="Gareth">
                <div class="card-body">
                    <h5 class="card-title">Gareth</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-1 d-none d-lg-block"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="/img/committee/anne.jpg" class="card-img-top committee-face" alt="Anne">
                <div class="card-body">
                    <h5 class="card-title">Anne</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/jenny.jpg" class="card-img-top committee-face" alt="Jenny">
                <div class="card-body">
                    <h5 class="card-title">Jenny</h5>
                </div>
            </div>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/tom.jpg" class="card-img-top committee-face" alt="Tom">
                <div class="card-body">
                    <h5 class="card-title">Tom</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/committee/clover.jpg" class="card-img-top committee-face" alt="Clover">
                <div class="card-body">
                    <h5 class="card-title">Clover</h5>
                </div>
            </div>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col-6 offset-3 col-md offset-md-0">
            <div class="card ">
                <img src="/img/committee/ozzy.jpg" class="card-img-top committee-face" alt="Ozzy">
                <div class="card-body">
                    <h5 class="card-title">Ozzy</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{{/inline}}

{{/defaultLayout}}