{{#> defaultLayout}}

{{#*inline "title"}}
The Constitution
{{/inline}}

{{#*inline "content"}}
<div class="pb-1">
    <h4>1. Name</h4>
    <p>The name of the organisation is Skint (which is short for affordable Scandinavian and International music and
        dance).</p>

    <h4>2. Aims and objectives</h4>
    <p>The promotion and enjoyment of international folk music and dance, especially to encourage people to try
        unfamiliar traditions of music and dance from different countries, and to make such opportunities available at
        affordable rates to those with low disposable incomes. In particular an annual weekend residential event is
        currently held to support these aims. Skint is a non-profit making organisation.</p>

    <h4>3. Management</h4>
    <p>The management of the organisation is through a committee which includes with Chair, Secretary, and Treasurer and
        other members as appropriate. All committee members shall hold office until the next Annual General Meeting
        (AGM), but shall then be eligible for re-election. During the year, the committee shall have the power to co-opt
        additional members as necessary until the next AGM.</p>

    <h4>4. Powers of the Committee</h4>
    <p>a) to raise funds and receive contributions</p>

    <p>b) to organise insurance, e.g. through affiliation to a relevant organisation such as the Society of
        International Folk Dancing (SIFD) </p>

    <p>c) all other lawful things as appropriate for furthering the aims and objectives.</p>

    <h4>5. Membership</h4>
    <p>There is no formal membership for Skint. It is open to all. Current and previous attendees of events will be
        consulted and informed about major future plans for Skint.</p>

    <h4>6. General Meetings</h4>

    <p>An AGM shall normally be held between 15 September and 15 November each year.</p>

    <p>Notice shall be given (of the AGM) to participants at the yearly residential event.</p>

    <p>At the AGM, three members of the committee must be present to achieve quorum.</p>

    <p>An Extraordinary General Meeting (EGM) may be called at other times of the year at the discretion of one or more
        members of the committee, providing notice is also given to the wider body of previous attendees.</p>

    <h4>7. Decision making</h4>
    <p>Decisions shall be taken via consensus if possible, and through a majority vote if not.</p>

    <h4>8. Accounts</h4>
    <p>The accounts for Skint shall be kept by the Treasurer, and shall be presented at the AGM. A bank account in the
        name of Skint and (with three authorised signatories from the Skint committee) shall be used to hold money for
        the organisation, and withdrawals must be authorised through at least two authorised signatories.</p>

    <h4>9. Dissolution</h4>
    <p>Skint may be dissolved only by those present at an AGM or EGM. On dissolution of the group, any money held by the
        organisation shall be disposed of by the Committee, to an organisation which has similar aims to that of Skint.
    </p>

    <h4>10. Alterations to the rules</h4>
    <p>These rules may be amended by an AGM or EGM as deemed necessary.</p>
</div>

{{/inline}}

{{/defaultLayout}}