{{#> defaultLayout}}

{{#*inline "title"}}
Get Involved
{{/inline}}

{{#*inline "content"}}
<p>So you want to come to Skint? Whether you’ve never missed one or it’s your first time, we’d love to welcome you.</p>
<div>
    <div class="row striped py-3">
        <div class="col-lg-6 order-lg-last"><img src='/img/getInvolved/whatIsIt.jpg' class="img-fluid p-2 rounded">
        </div>
        <div class="col-lg-6">
            <h3>What is Skint?</h3>

            <p>Skint is a weekend of international music and dance, held each year in Derbyshire, England. One of the
                main
                aims of Skint is to make European folk dance and music accessible to all, particularly to those who may
                be
                unable to afford festivals in the UK or abroad. You can read more about our aims in our constitution.
            </p>

            <p>Skint is a very easy-going and friendly festival. During the day there are workshops for dancers and
                musicians, suitable for both complete beginners and the more experienced. The bals in the evening
                feature
                music and dancing from a variety of European traditions, (e.g. France, Scandinavia, England, Eastern
                Europe)
                much of which will have been taught earlier in the day.</p>

            <p>Skint is open to all, regardless of age or experience. You just need an interest in European folk music
                and
                dance and a willingness to get involved!</p>

        </div>

    </div>

    <div class="row striped py-3">
        <div class="col-lg-6"><img src='/img/getInvolved/photo1.jpg' class="img-fluid p-2 rounded"></div>
        <div class="col-lg-6">
            <h3>Volunteering</h3>

            <p>Everyone at Skint pitches in to ensure the smooth running of the festival. When you first arrive there
                will
                be a
                volunteering sheet and you'll sign up to help in one or two tasks. These include things like getting the
                tables
                ready for lunch, preparing the food, tidying the hall, and other such things</p>

            <p>
                All of our workshops and concerts are taught and played by volunteers as well. When you apply for a
                ticket
                we'll ask
                you if there's anything that you would like to share with the festival.
            </p>

            <p>No-one is paid, and the committee pay the same amount to attend as other attendees.</p>
        </div>
    </div>

    <div class="row striped py-3">
        <div class="col-lg-6 order-lg-last"><img src='/img/getInvolved/photo2.jpg' class="img-fluid p-2 rounded"></div>
        <div class="col-lg-6">
            <h3>Children</h3>

            <p>Children are very welcome at Skint. We seek to provide various activities to keep them entertained
                however we
                cannot
                take any responsibility for looking after them. For this reason we limit the number of children attached
                to
                a ticket
                to 2. We are an inclusive festival so if this causes a problem for you please contact us and we will be
                happy to
                work with you to find a solution</p>
        </div>

    </div>
    <div class="row striped py-3">
        <div class="col-lg-6"><img src='/img/getInvolved/safe.jpg' class="img-fluid p-2 rounded"></div>
        <div class="col-lg-6">
            <h3>Safer Spaces and Accessibility</h3>

            <p>At Skint we welcome all people, regardless of gender/gender identity, race, ethnicity, sexual
                orientation, disability, age, physical appearance, religion, employment status, dance or music ability,
                style or dance role.</p>

            <p>We are mindful and respectful of the needs and boundaries of each attendee and
                be ready to make reasonable accommodation for those needs, prioritising
                those that are typically marginalised by society. We are able to say ‘no’, and
                respect when others say ‘no’.</p>

            <p>Our full safer spaces policy can be <a href="https://drive.google.com/open?id=1HY-979DCm9oXxBp3uxwkIn9w1bRZ8zxI">read here</a></p>
        </div>
    </div>
</div>

{{/inline}}
{{/defaultLayout}}