{{#> defaultLayout}}

{{#*inline "title"}}
Tickets
{{/inline}}

{{#*inline "content"}}

<div class="row">
  <div class="jumbotron w100" style="padding-top: 20px; padding-bottom: 20px; border-radius: 0">
    <h1 class="display-5">Booking will open at 7pm 17<sup>th</sup> August</h1>
  </div>
</div>

<div class="pb-1">
    <p>To be alerted when our booking opens, please sign up to our mailing list below or follow us on <a
            href="https://www.facebook.com/skintdance">Facebook</a>!</p>

    <h3>Tickets and Booking</h3>

    <p>Tickets for Skint very customisable. Accommodation and meals are optional items. This allows us to overcome the
        traditional limiting factor of Skint, catering for all of us, and allows you to choose which parts of Skint you
        want
        to enjoy.</p>

    <p>There are some fantastic pubs in the village which serve food, as well as a small shop, and of course you are
        welcome
        to bring
        your own food. However, there will be no kitchen space or seating in the hall for self-catering.</p>

    <p>You can buy tickets for 2 adults at the same time.</p>

    <p><strong>Tickets are non-transferrable</strong>. They allow only the named person to attend. You cannot sell or
        give
        them to someone else. This is to make the application process fair for everyone, and we enforce the rules. In
        exceptional
        cases we may cancel tickets obtained in contravention of the rules.</p>

    <h4>Cancellations and Refunds</h4>

    <p>Refunds will be given at 75% until one month before Skint, and after that no refunds.</p>

    <h4>Children</h4>
    <p>Children under 16s don't need to buy the admission ticket, but they will need to pay for any meals and camping they wish to
        use.</p>

    <h3>
        Costs
    </h3>
    <div class="container" style="margin-bottom:20px">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <h5>In advance</h5>
                <table class="table table-condensed table-bordered" style="background-color:#fff">
                    <tr>
                        <th colspan="32">A place at Skint</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Admission (adult)</td>
                        <td style="width:70px">&pound;22</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Admission (under 16)</td>
                        <td style="width:70px">&pound;0</td>
                    </tr>
                    <tr>
                        <th colspan="32">Meals</th>
                    </tr>
                    <tr>
                        
                        <td style="width:10px"></td>
                        <td>Friday evening, 6pm</td>
                        <td style="width:70px">&pound;5</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Saturday lunch, 1pm</td>
                        <td>&pound;4</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Saturday evening, 6pm</td>
                        <td>&pound;5</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Sunday lunch, 1pm</td>
                        <td>&pound;4</td>
                    </tr>
                    <tr>
                        <th colspan="32">Camping</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Indoor
                            <div style="font-size:smaller">Friday & Saturday nights. Camping in the hall. Bring camping
                                mat,
                                sleeping bag & ear plugs!</div>
                        </td>
                        <td style="width:70px">&pound;10</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Outdoor
                            <div style="font-size:smaller">Friday & Saturday nights. Camping in a nearby field. Bring a
                                tent
                                & thermals!</div>
                        </td>
                        <td style="width:70px">&pound;10</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h5>On the door</h5>
                <table class="table table-condensed table-bordered" style="background-color:#fff">
                    <tr>
                        <th colspan="32">Dancing and Workshops</th>
                    </tr>
                    <tr>
                        <td style="width:10px"></td>
                        <td>Friday evening bal, from 8pm</td>
                        <td style="width:70px">&pound;6</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Saturday workshops</td>
                        <td>&pound;6</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Saturday evening bal, from 8pm</td>
                        <td>&pound;6</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Sunday workshops and bal</td>
                        <td>&pound;6</td>
                    </tr>
                </table>

                Meal tickets are not available on the door.
            </div>
        </div>
    </div>
</div>
{{/inline}}

{{/defaultLayout}}